.react-datepicker {
  font-family: var(--second-family);
  line-height: 1.2;
  border-radius: 12px;
  border: 1px solid var(--button);
  padding: 12px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.react-datepicker__header {
  background-color: var(--white);
  border-bottom: none;
  padding-top: 0 !important;
  padding-bottom: 0;
  position: relative;
  width: 100%;
}

.react-datepicker .react-datepicker__current-month {
  font-weight: 600;
  font-size: 16px;
  color: var(--main);
  margin-bottom: 12px;
  margin-top: 0;
}

.react-datepicker__day-names {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--button);
  margin-left: -12px;
  margin-right: -12px;
  margin-top: 0;
  margin-bottom: 12px;
}

.react-datepicker__day-name {
  color: var(--gray);
  font-weight: 600;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  width: 36px;
  margin: 0;
  text-align: center;
  padding-bottom: 12px;
}

.react-datepicker__day {
  color: var(--main);
  font-size: 14px;
  width: 36px;
  height: 32px;
  line-height: 32px;
  margin: 1px;
  transition: all var(--transition);
  border-radius: 32px;
}

.react-datepicker__day--outside-month {
  color: var(--gray);
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected,
.react-datepicker__day--today {
  background-color: var(--button) !important;
  color: var(--white) !important;
  border-radius: 32px !important;
  width: 36px !important;
  height: 32px !important;
  line-height: 32px !important;
}

.react-datepicker__day:hover {
  border-radius: 32px !important;
  background-color: rgba(52, 112, 255, 0.1);
}

.react-datepicker__navigation {
  top: 6px;
}

.react-datepicker__navigation--previous {
  left: 4px;
}

.react-datepicker__navigation--next {
  right: 4px;
}

.react-datepicker__navigation-icon::before {
  border-color: var(--button) !important;
  border-width: 2px 2px 0 0 !important;
  width: 9px !important;
  height: 9px !important;
}

.react-datepicker__navigation:hover *::before {
  border-color: var(--button-hover) !important;
}

.react-datepicker__triangle {
  display: none;
  outline: none;
}

.react-datepicker-popper {
  z-index: 10;
}

.react-datepicker-popper[data-placement^='bottom'] {
  padding-top: 10px;
}

.react-datepicker-popper[data-placement^='top'] {
  padding-bottom: 10px;
}

.custom-calendar::before,
.custom-calendar::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.react-datepicker-popper[data-placement^='bottom'] .custom-calendar::before {
  top: -11px;
  border-bottom: 11px solid var(--button);
  border-top: none;
}

.react-datepicker-popper[data-placement^='bottom'] .custom-calendar::after {
  top: -10px;
  border-bottom: 10px solid var(--white);
  border-top: none;
}

.react-datepicker-popper[data-placement^='top'] .custom-calendar::before {
  bottom: -11px;
  border-top: 11px solid var(--button);
  border-bottom: none;
}

.react-datepicker-popper[data-placement^='top'] .custom-calendar::after {
  bottom: -10px;
  border-top: 10px solid var(--white);
  border-bottom: none;
}

.react-datepicker.custom-calendar {
  position: relative;
  overflow: visible;
}
