.catalog {
  padding: 84px 120px 124px 120px;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 32px;
  row-gap: 48px;
  list-style: none;
  margin: 43px 0 93px 0;
}

.item {
  display: flex;
}

.loadMoreWrapper {
  display: flex;
  justify-content: center;
}

.loadMoreButton {
  padding: 12px 38px;

  background-color: transparent;
  color: var(--main);

  border: 1px solid var(--button);
  border-radius: 12px;

  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;

  cursor: pointer;
  transition:
    border var(--transition),
    transform var(--transition);
}

.loadMoreButton:hover:not(:disabled) {
  border: 1px solid var(--button-hover);
}

.loadMoreButton:active:not(:disabled) {
  transform: scale(0.95);
}

.loadMoreButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.notFound {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 18px;
  color: var(--gray);
  margin-top: 50px;
}

.error {
  text-align: center;
  color: #f44336;
  margin-top: 50px;
}
