.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;
  margin-bottom: 43px;
}

.fieldGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.label {
  font-size: 12px;
  line-height: 1.33;
  color: var(--gray);
}

.selectWrapper {
  position: relative;
  width: 100%;
}

.select {
  width: 100%;
  min-width: 196px;
  padding: 12px 16px;
  background-color: var(--inputs);
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconChevron {
  width: 16px;
  height: 16px;
  transform: scale(0.8);
  stroke: var(--main);
  fill: var(--main);
  transition: var(--transition);
}

.rotate {
  transform: scale(0.8) rotate(180deg);
}

.options {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: 100%;
  max-height: 272px;
  background-color: var(--white);
  border: 1px solid var(--inputs);
  box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.02);
  border-radius: 12px;

  padding: 14px 26px 14px 18px; /* ⬅️ +8px справа для отступа скролла */
  overflow-y: auto;

  z-index: 10;

  scrollbar-width: thin;
  scrollbar-color: var(--gray-light) transparent;
}

.option {
  padding: 4px 0;
  font-size: 16px;
  font-weight: 500;
  color: var(--gray);
  cursor: pointer;
  transition: color var(--transition);
}

.option[data-headlessui-state*='active'] {
  color: #121417;
}

.mileageInputs {
  display: flex;
}

.inputLeft,
.inputRight {
  padding: 12px 24px;
  background-color: var(--inputs);
  border: none;
  font-size: 18px;
  outline: none;
  max-width: 160px;
}

.inputLeft {
  border-radius: 12px 0 0 12px;
  border-right: 1px solid var(--gray-light);
  color: var(--main);
}

.inputRight {
  border-radius: 0 12px 12px 0;
}

.inputLeft::placeholder,
.inputRight::placeholder {
  color: var(--main);
  font-size: 16px;
  font-weight: 500;
}

.searchBtn {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 600;
  padding: 12px 51px;
  background-color: var(--button);
  color: var(--white);
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

/* Убираем рамку при фокусе для кнопки и выпадающего списка */
.select:focus,
.options:focus {
  outline: none;
}

/* Стилизация скроллбара */
.options::-webkit-scrollbar {
  width: 8px;
}

.options::-webkit-scrollbar-track {
  background: transparent;
  margin: 12px 0;
}

.options::-webkit-scrollbar-thumb {
  background: var(--gray-light);
  border-radius: 10px;
}

/* Убираем стрелки скроллбара */
.options::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}
