.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;
  margin-bottom: 43px;
}

.fieldGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.label {
  font-size: 12px;
  line-height: 1.33;
  color: var(--gray);
}

.selectWrapper {
  position: relative;
}

.select {
  width: 100%;
  padding: 12px 16px;
  background-color: var(--inputs);
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
}

.select:focus,
.select:focus-visible {
  outline: none;
  box-shadow: none;
}

.fieldGroup:nth-child(1) .select {
  width: 204px;
}

.fieldGroup:nth-child(2) .select {
  width: 196px;
}

.iconChevron {
  width: 16px;
  height: 16px;
  transform: scale(0.8);
  fill: var(--main);
  transition: var(--transition);
}

.rotate {
  transform: scale(0.8) rotate(180deg);
}

.options {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: 100%;
  background-color: var(--white);
  border: 1px solid var(--inputs);
  border-radius: 12px;
  padding: 8px 0;
  z-index: 11;
  outline: none;
}

.options:focus,
.options:focus-visible {
  outline: none;
  box-shadow: none;
}

.scrollArea {
  max-height: 272px;
}

.fieldGroup:nth-child(2) .scrollArea {
  max-height: 188px;
}
.option {
  padding: 4px 18px;
  font-size: 16px;
  font-weight: 500;
  color: var(--gray);
  cursor: pointer;
  transition: color var(--transition);
}

.option[data-headlessui-state*='active'] {
  color: #121417;
}

.mileageInputs {
  display: flex;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--inputs);
}

.inputWrapper:first-child {
  border-radius: 12px 0 0 12px;
  border-right: 1px solid var(--gray-light);
}

.inputWrapper:last-child {
  border-radius: 0 12px 12px 0;
}

.inputLabel {
  position: absolute;
  left: 24px;
  font-size: 16px;
  font-weight: 500;
  color: var(--main);
  pointer-events: none;
}

.inputLeft,
.inputRight {
  padding: 12px 24px 12px 75px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  outline: none;
  max-width: 160px;
  color: var(--main);
  font-weight: 500;
}

.inputLeft:focus,
.inputRight:focus,
.inputLeft:focus-visible,
.inputRight:focus-visible {
  outline: none;
  box-shadow: none;
}

.inputRight {
  padding-left: 50px;
}

.searchBtn {
  font-size: 16px;
  font-weight: 600;
  padding: 12px 51px;
  background-color: var(--button);
  color: var(--white);
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.searchBtn:hover {
  background-color: var(--button-hover);
}

.searchBtn:active {
  transform: scale(0.98);
}

:global(.simplebar-track.simplebar-vertical) {
  width: 12px;
  right: 6px;
}

:global(.simplebar-scrollbar::before) {
  background-color: var(--gray-light);
  border-radius: 10px;
}

:global(.simplebar-track.simplebar-horizontal) {
  display: none;
}

.fieldGroup:nth-child(1) :global(.simplebar-scrollbar::before) {
  min-height: 128px;
  max-height: 128px;
}

.fieldGroup:nth-child(2) :global(.simplebar-scrollbar::before) {
  min-height: 64px;
  max-height: 64px;
}
